

<div class="adminwrappercls">
    <app-header></app-header>
    <!-- <div id="beadcamb">
      
    </div> -->
    <mat-card class="breadcrumbs-top">
      <h3 class="page-header-title">Welcome <span>Souresh Banerjee</span></h3>
      <mat-card-content class="breadcrumb-wrapper">
        <mat-list class="breadcrumb">
          <mat-list-item class="breadcrumb-item"><a [routerLink]="['/dashboard']"><span class="material-icons">home</span></a></mat-list-item>
          <mat-list-item class="breadcrumb-item"><a [routerLink]="['/blog-management/list']">Blog</a></mat-list-item>
          <mat-list-item class="breadcrumb-item">{{action}}</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="generalcls" style="padding: 0 !important;">
            <!-- <h2>addedit</h2> -->
            <div class="AddEditBlog">
              <lib-addedit-blogmanagement 
              [serverUrl]="server"
              [addEndpoint]="addUrl" 
              [getDataEndpoint]="getDataUrl"
              [listRoute]="listURL"
              [singleData]="editdata" 
              [imageUpload]="configData"
              [fileUpload]="configFileData"
              [action]="action"></lib-addedit-blogmanagement>
            </div>
            
        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>


