<mat-card>
    <span class="searchblock">
        <span class="searchblockwrapper">
            <span>
    <mat-toolbar color="primary" style="justify-content: center; align-items: center;">
        <h2 class="headerSpan">{{ headerText }}</h2>
    </mat-toolbar>
            </span>
        </span>
    </span>
    <mat-card-content>
        <form class="example-form" novalidate [formGroup]="blogManagementForm" name="blogManagementForm"
            (ngSubmit)="blogManagementFormSubmit()" autocomplete="off">
            <!-- blog title -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Blog title" [formControl]="blogManagementForm.controls['blog_title']"
                    (blur)="inputUntouch(blogManagementForm,'blog_title')">
                <mat-error *ngIf="blogManagementForm.controls['blog_title'].touched && !blogManagementForm.controls['blog_title'].valid
                           && blogManagementForm.controls['blog_title'].errors.required">
                           Name field can not be blank</mat-error>
            </mat-form-field>
        <!-- <mat-form-field>
                <mat-select placeholder="Parent Category">
                <mat-option  *ngFor="let client of clientDetails" [value]="client.id">
                  {{client.clientName}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
<!-- priority -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Prority" [formControl]="blogManagementForm.controls['priority']"
                    (blur)="inputUntouch(blogManagementForm,'priority')">
                <mat-error *ngIf="blogManagementForm.controls['priority'].touched && !blogManagementForm.controls['priority'].valid
                           && blogManagementForm.controls['priority'].errors.required">
                          Priority field can not be blank</mat-error>
            </mat-form-field>

            <!-- author -->
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Author" [formControl]="blogManagementForm.controls['author']"
                    (blur)="inputUntouch(blogManagementForm,'author')">
                <mat-error *ngIf="blogManagementForm.controls['author'].touched && !blogManagementForm.controls['author'].valid
                           && blogManagementForm.controls['author'].errors.required">
                          Priority field can not be blank</mat-error>
            </mat-form-field>

        <!-- status -->
            <mat-checkbox [formControl]="blogManagementForm.controls['status']" [(ngModel)]="statuschecked">Active</mat-checkbox>
            <!-- description --><br>
            <mat-label>Description : -</mat-label>
            <ck-editor formControlName="description" [config]="editorconfig">
           </ck-editor>

<!-- tags -->
<mat-form-field class="example-full-width">
    <input type="text" placeholder="Tag something" formControlName="tag" matInput
        [formControl]="myControl" [matAutocomplete]="auto" (keyup)="showval($event)">

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="!blogManagementForm.controls['tag'].valid
&& blogManagementForm.controls['tag'].errors.required">
        Tags are required.</mat-error>

</mat-form-field>
                  




           
            <button mat-raised-button color="primary" mat-button class="submitbtn" type="submit">{{ buttonText }}</button>

        </form>
    </mat-card-content>



</mat-card>