<div class="adminwrappercls">
    <app-header></app-header>
    <!-- <div id="beadcamb">
      
    </div> -->
    <mat-card class="breadcrumbs-top">
        <h3 class="page-header-title">Welcome <span>{{ this.user_cookies.firstname }} {{this.user_cookies.lastname}}</span></h3>
        <mat-card-content class="breadcrumb-wrapper">
          <mat-list class="breadcrumb">
            <mat-list-item class="breadcrumb-item"><a [routerLink]="['/dashboard']"><span class="material-icons">home</span></a></mat-list-item>
            <!-- <mat-list-item class="breadcrumb-item"><a [routerLink]="['/admin/list']">Admin List</a></mat-list-item> -->
            <mat-list-item class="breadcrumb-item">Blog Category</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="generalcls" style="padding: 0 !important;">
            <div class="content_header_wrapper">
                <h2 class="headerSpan">Blog Categories</h2>
                               
                <mat-toolbar class="buttonsetToolbar">
                     <!-- ---------------------Button for adding new role------------------------------ -->
                    <button class="singleButton btnblue" mat-raised-button color="primary"
                    [routerLink]="['/blog/category/add']">Add Blog Category </button>

                    <!-- blog management -->
                    <button class="singleButton btnblue" mat-raised-button color="primary"
                    [routerLink]="['/blog-management/list']">Blog Managment </button>
                </mat-toolbar>
            </div>                    

            <!-- to listing library -->
            <div class="listingnewstyle">
                <lib-Blog [config]="blogListConfig"></lib-Blog>
            </div>
        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>





<!-- <mat-card>
    <mat-toolbar color="primary" style="justify-content: center; align-items: center;">
       
    </mat-toolbar>

   
</mat-card> -->