<mat-card class="admcls">
    <mat-toolbar class="header">
      <mat-toolbar-row class="toolbar-row">
        <div class="logo">
          <!-- <img src="assets/images/logo.png" alt=""> -->
          <h2><span class="barrier">Mask</span> <span class="blog">Blog</span> <span class="medical">Backend</span></h2>
        </div>      
        <div class="topmenulist">       
        
          <mat-list class="navigation-left">
            <mat-list-item class="nav-item">
              <a mat-menu-item routerLinkActive="activemenu">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              </a>
            </mat-list-item>
    
            <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
              <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/dashboard']">
                Dashboard
              </a>
            </mat-list-item>          
    
            <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
              <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/admin/list']">Admin Management</a>
            </mat-list-item>
            <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
              <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/blog/category/list']">Blog Management</a>
            </mat-list-item>
            
            <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
              <a mat-menu-item routerLinkActive="activemenu" [routerLink]="['/account-settings']">
                <span class="material-icons">account_circle</span> My Account</a>
            </mat-list-item>
            <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
              <a mat-menu-item routerLinkActive="activemenu" (click)="logout()">
                <span class="material-icons">exit_to_app</span> Logout</a>
            </mat-list-item>
          </mat-list>
        </div>      
      </mat-toolbar-row>
    </mat-toolbar>
    
  </mat-card>
  
<!-- 
  <button mat-raised-button color="primary"  routerLinkActive="router-link-active">Admin List</button> &nbsp;
  
  <button mat-raised-button color="accent" >Blog List</button> -->
<!--   
  &nbsp;&nbsp;
  <button mat-raised-button color="primary" >Log Out</button> -->
    
  