<div class="adminwrappercls">
    <app-header></app-header>

    <mat-card class="breadcrumbs-top">
      <h3 class="page-header-title">Welcome <span>{{ this.user_cookies.firstname }} {{this.user_cookies.lastname}}</span></h3>
      <mat-card-content class="breadcrumb-wrapper">
        <mat-list class="breadcrumb">
          <mat-list-item class="breadcrumb-item"><span class="material-icons">home</span></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="countdiv" style="padding: 0 !important;">    
          <span class="column4">
            <mat-card class="bg-light-green box-shadow">
              <span class="content">
                <mat-card-title>Total Number Of Active Blogs</mat-card-title>
                <mat-card-subtitle>{{total_blogs}}</mat-card-subtitle>
              </span>
              <span class="icon">
                <img src="../../../assets/images/blog-icon-dashboard.png">
              </span>
              <!-- <span class="detailbtn">
                <button class="singleButton">Detail</button>
              </span> -->
            </mat-card>

            <mat-card class="bg-light-green box-shadow">
              <span class="content">
                <mat-card-title>Total Number Of Inactive Blogs</mat-card-title>
                <mat-card-subtitle>{{websites.inactiveBlogs}}</mat-card-subtitle>
              </span>
              <span class="icon">
                <img src="../../../assets/images/blog-icon-dashboard.png">
              </span>
              <!-- <span class="detailbtn">
                <button class="singleButton">Detail</button>
              </span> -->
            </mat-card>


            <mat-card class="bg-pink box-shadow" >
              <span class="content">
                <mat-card-title>Number Of Blogs For Website 1</mat-card-title>
                <mat-card-subtitle>{{websites.website1}}</mat-card-subtitle>
              </span>
              <span class="icon">
                <img src="../../../assets/images/blog-icon2-dashboard.png">
              </span>
              <!-- <span class="detailbtn">
                <button class="singleButton">Detail</button>
              </span> -->
            </mat-card>
            <mat-card class="bg-orange box-shadow" >
              <span class="content">
                <mat-card-title>Number Of Blogs For Website 2</mat-card-title>
              <mat-card-subtitle>{{websites.website2}}</mat-card-subtitle>
              </span>
              <span class="icon">
                <img src="../../../assets/images/blog-icon2-dashboard.png">
              </span>     
              <!-- <span class="detailbtn">
                <button class="singleButton">Detail</button>
              </span> -->
            </mat-card>
            <mat-card class="bg-deep-blue box-shadow" >
              <span class="content">
                <mat-card-title>Number Of Blogs For Website 3 </mat-card-title>
                <mat-card-subtitle>{{websites.website3}}</mat-card-subtitle>
              </span>
              <span class="icon">
                <img src="../../../assets/images/blog-icon2-dashboard.png">
              </span>     
              <!-- <span class="detailbtn">
                <button class="singleButton">Detail</button>
              </span>        -->
            </mat-card>
          </span>  
          
          
        </mat-card>

        <mat-card class="generalcls" style="padding: 0 !important;">

          <div class="content_header_wrapper">
            <h2 class="headerSpan" >Blogs</h2>                     
          </div>

          <div class="listingnewstyle">
          <lib-listing *ngIf="adminDataList!=null && adminDataList.length>0" 
            [datasource]="adminDataList"
            [skip]="adminDataList_skip"
            [modify_header_array]="modify_header_array"
            [apiurl]="apiurl"
            [deleteendpoint]="deleteendpoint"
            [updateendpoint]="updateendpoint"
            [date_search_source]="date_search_source"
            [date_search_endpoint]="date_search_endpoint"
            [sourcedata]="tablename"
            [detail_datatype]="adminDataList_detail_datatype"
            [editroute]="editroute"
            [statusarr]="statusarray"
            [detail_skip_array]="adminDataList_detail_skip"
            [url]="custom_link"
            [jwttoken]="jwttoken"
            [search_settings]="search_settings"
            [searchendpoint]="searchendpoint"
            [sortdata]="sortdata"
            [datacollection]="datacollection"
            [date_search_source_count]="date_search_source_count"
            [limitcond]="limitcond"></lib-listing>
          </div>




        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>



