<div class="adminwrappercls">
    <app-header></app-header>
    <!-- <div id="beadcamb">
      
    </div> -->
    <mat-card class="breadcrumbs-top">
      <h3 class="page-header-title">Welcome <span>Souresh Banerjee</span></h3>
      <mat-card-content class="breadcrumb-wrapper">
        <mat-list class="breadcrumb">
          <mat-list-item class="breadcrumb-item"><a [routerLink]="['/dashboard']"><span class="material-icons">home</span></a></mat-list-item>
          <!-- <mat-list-item class="breadcrumb-item"><a [routerLink]="['/admin/list']">Admin List</a></mat-list-item> -->
          <mat-list-item class="breadcrumb-item">Blogs</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="generalcls" style="padding: 0 !important;">
          <div class="content_header_wrapper">
                <h2 class="headerSpan">Blogs</h2>
                <!-- ---------------------Button for adding new role------------------------------ -->
                <mat-toolbar class="buttonsetToolbar">
                    <button class="singleButton btnblue" mat-raised-button [routerLink]="['/blog-management/add']">Add New Blog</button>
                </mat-toolbar>                
              </div>

                <!-- to listing library -->
              <div class="listingnewstyle">
                <lib-listing-blogmanagementlib [config]="blogListConfig"></lib-listing-blogmanagementlib>
              </div>               
            
        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>




