
<lib-listing 
    [datasource]="adminDataList"
    [skip]="adminDataList_skip" 
    [modify_header_array]="modify_header_array" 
    [apiurl]="apiUrl" 
    [deleteendpoint]="deleteendpoint" 
    [updateendpoint]="updateendpoint" 
    [jwttoken]="token" 
    [date_search_source]="date_search_source"
    [date_search_endpoint]="date_search_endpoint"
    [sourcedata]="tablename"  
    [statusarr]="statusarray" 
    [detail_datatype]="adminDataList_detail_datatype"
    [editroute]="editroute"
    [detail_skip_array]="adminDataList_detail_skip" 
    [url]="custom_link" 
    [search_settings]="search_settings"
    [searchendpoint]="searchendpoint"
    [sortdata]="sortdata"
    [datacollection]="datacollection"
   [date_search_source_count]="date_search_source_count"
   [limitcond]="limitcond"></lib-listing>