<div class="adminwrappercls">
    <app-header></app-header>
    <!-- <div id="beadcamb">
      
    </div> -->
    <mat-card class="breadcrumbs-top">
      <h3 class="page-header-title">Welcome <span>{{ this.user_cookies.firstname }} {{this.user_cookies.lastname}}</span></h3>
      <mat-card-content class="breadcrumb-wrapper">
        <mat-list class="breadcrumb">
          <mat-list-item class="breadcrumb-item"><a [routerLink]="['/dashboard']"><span class="material-icons">home</span></a></mat-list-item>
          <mat-list-item class="breadcrumb-item"><a [routerLink]="['/blog/category/list']">Blog Category List</a></mat-list-item>
          <mat-list-item class="breadcrumb-item">{{header_text}}</mat-list-item>
        </mat-list>
      </mat-card-content>
  </mat-card>

    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="generalcls" style="padding: 0 !important;">
            <!-- <h2>add-blog</h2> -->
            <div class="AddEditBlog">
              <lib-add-blog [config]="configAddEdit"></lib-add-blog>
            </div>
        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>






